@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: linear-gradient(90deg, #8613bb, #65138b, #44085f);   
}

header {
    display: flex;
    justify-content: left;
    align-items: 50px;
    min-height: 90vh;
    max-width: 100%;
}

header li img {
    scale: 0.07;
    margin-left: -108%;
    margin-top: -45%;
}

.content {
    top: 150;
    left: 100;
    justify-content: center;
    align-items: center;
    width: 120vh;
    min-height: 30vh;
}

.redes-sociais h2 {
    top:30%;
    left: 40%;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.redes-sociais ul {
    top: 40%;
    left: 35%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais ul a {
    display: block;
    padding: 10px;
    min-height: 1vh
 
}

.redes-sociais ul a img {
    max-width: 120px;
    display: center;
    width: 100px;
    transition: 0.5s;
    align-items: center;
}

.redes-sociais:hover ul a img {
    top: 100px;
    scale: 1.25;
    margin-top: 1.0rem;
}